<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>What would you like pig latin-ized?</h2>

    <form method="POST" action="/piglatinize">
      <p> Enter your phrase: <input name="user_phrase" type="text"></p>
      <button type="submit" id='submit'>Submit</button>
    </form>

  </body>
</html>
